<div class="homepage-grid">
  <div  class="homepage-image">
    <img id="window"  src="../assets/images/window-stare.jpeg" alt="staring out office window">
    <img id="green"   src="../assets/images/green-office.jpg" alt="staring out office window">
  </div>
  <div class="opening-paragraph-div">
    <h2>Enabling you to work more efficiently</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
  <div class="menu-option">
    <a routerLink="mission">
      <img src="../assets/images/swing.jpg" alt="swing in the office">
      <h4>MISSION</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</p>
    </a>
  </div>
  <div class="menu-option">
    <a routerLink="amenities">
      <img src="../assets/images/coffee.jpg" alt="coffee maker">
      <h4>AMENITIES</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisici ngveniam, quis nostrud exercitation...</p>
    </a>
  </div>
  <div class="menu-option">
    <a routerLink="plans">
      <img src="../assets/images/office.jpg" alt="coffee maker">
      <h4>PLANS</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisici ngveniam, quis nostrud exercitation...</p>
    </a>
  </div>
  <div class="menu-option">
    <a routerLink="staff">
      <img src="../assets/images/staff.jpg" alt="coffee maker">
      <h4>STAFF</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisici ngveniam, quis nostrud exercitation...</p>
    </a>
    <!-- <div class="overlay">

  </div> -->
</div>
<div class="menu-option">
  <a routerLink="locations">
    <img src="../assets/images/city.jpg" alt="coffee maker">
    <h4>LOCATIONS</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisici ngveniam, quis nostrud exercitation...</p>
  </a>
</div>
<div class="menu-option">
  <a routerLink="contact">
    <img src="../assets/images/contact-us-icons.jpg" alt="coffee maker">
    <h4>CONTACT US</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisici ngveniam, quis nostrud exercitation...</p>
  </a>
</div>

<div id="slider">
  <figure>
    <img src="../../assets/images/space1.jpg" alt="office space">
    <img src="../../assets/images/coffeebar.png" alt="officespace">
    <img src="../../assets/images/space3.jpg" alt="office space">
    <img src="../../assets/images/officebar.jpg" alt="office space">
    <img src="../../assets/images/seating.png" alt="office space">
  </figure>
</div>

<div class="locations-banner">
  <ul class="locations-list">
    <li>Portland</li>
    <li>New York</li>
    <li>Las Angeles</li>
    <li>Puerto Rico</li>
    <li>Japan</li>
  </ul>
</div>
<div class="footer-contact">
  <div class="address">
    <p><strong>Address</strong></p>
    <p>400 sw 6th ave</p>
    <p>Portland Oregon</p>
    <p>USA, 97202</p>
  </div>
  <div class="phone">
    <p><strong>Reach Us</strong></p>
    <p>Office: 503-867-5309</p>
    <p>Fax: 503-867-5309</p>
    <p>Email: theSpace@aol.com</p>
  </div>
</div>
<div class="important-people">
  <div class="public-relations">
    <p><strong>Public Relations</strong></p>
    <p>Joseph McKinney</p>
    <p>Joseph@hotmail.com</p>
    <p>503-867-5309</p>
  </div>
  <div class="human-resources">
    <p><strong>Human Resourses</strong></p>
    <p>Joe McKinney</p>
    <p>Joe@netzero.com</p>
    <p>Email: theSpace@aol.com</p>
  </div>
</div>
</div>
