<div class="homepage-grid">

  <div  class="homepage-image">
    <img src="../assets/images/window-stare.jpeg" alt="staring out office window">
  </div>
  <div class="menu-option">
    <a routerLink="mission">
      <img src="../assets/images/swing.jpg" alt="swing in the office">
      <h4>MISSION</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</p>
    </a>
  </div>
  <div class="menu-option">
    <a routerLink="amenities">
      <img src="../assets/images/coffee.jpg" alt="coffee maker">
      <h4>AMENITIES</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisici ngveniam, quis nostrud exercitation.</p>
    </a>
  </div>
  <div class="menu-option">
    <a routerLink="amenities">
      <img src="../assets/images/office.jpg" alt="coffee maker">
      <h4>PLANS</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisici ngveniam, quis nostrud exercitation.</p>
    </a>
  </div>
  <div class="menu-option">
    <a routerLink="amenities">
      <img src="../assets/images/city.jpg" alt="coffee maker">
      <h4>LOCATIONS</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisici ngveniam, quis nostrud exercitation.</p>
    </a>
  </div>
</div>
