@import "../../sass/variables";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
#green {
  display: none;
  width: 100%;
}

.homepage-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  .homepage-image {
    grid-column: 1 / 3;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
  .opening-paragraph-div {
    grid-column: 1 / 3;
    width: 80%;
    border: 1px solid lighten($font-color, 50);
    padding: 10px 15px;
    margin: 0 auto;
    background-color: white;
    transform: translateY(-45px);
    h2 {
      color: darken($font-color, 75);
      width: 70%;
    }
  }
  .menu-option {
    width: 100%;
    text-align: center;
    margin-top: 0;
    img {
      width: 75%;
    }
    a {
      text-decoration: none;
      color: #484848;
    }
    h4, p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 1.5em;
    }
    p {
      margin: 0 auto;
      color: #484848;
      font-size: .95em;
      width: 80%;
      margin-bottom: 10px;
    }
    // .overlay {
    //   width: 75%;
    //   height: 50%;
    //   background-color: gray;
    //   opacity: 1;
    //   z-index: 999;
    // }
  }
  // .menu-option:first-of-type {
  //   grid-row: 3 / 4;
  // }
  .locations-banner {
    grid-column: 1 / 3;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
  }
  .locations-list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    li {
      &:hover {
        color: lightyellow;
        background-color: lightblue;
        padding: 0 5px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .footer-contact, .important-people {
    grid-column: 1 / 3;
    display: flex;
    margin-bottom: 25px;
    justify-content: space-around;
    p {
      margin: 0 auto;
    }
  }
}
.menu-option:hover img {
  transform: scaleX(1.01);
  border: 1px solid $font-color;
  border-radius: 3px;
}
//image-scroll
.slider-wrapper {
  grid-column: 1 / 5;
  display: none;
}
.slider {
  z-index: 999;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  img {
    width: 75%;
    height: auto;
  }
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@media screen and (min-width: 556px) {
  .homepage-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .homepage-image {
      grid-column: 1 / 5;
      #window {
        display: none;
      }
      #green {
        display: block;
      }
    }
    .opening-paragraph-div {
      grid-column: 1 / 5;
      width: 60%;
      transform: translateY(-35px);
    }

    .menu-option:nth-of-type(3),.menu-option:nth-of-type(4) {
      width: 80%;
      grid-column: span 2;
      margin-left: 10%;
    }
    .important-people, .footer-contact, .locations-banner {
      grid-column: 2 / 4;
    }
  }
  .slider-wrapper {
    display: block;
  }
}
