//navbar
@media screen and (min-width: 500px) {
  .header-wide {
    display: block !important;
  }
  .nav-toggler-label {
      display: none !important;
  }
}

@media screen and (min-width: 450px) {
  #contact-us {
    display: none;
  }
}

// homepage
@media screen and (min-width: 800px) {
  #slider {
    width: 700px;
    margin: 25px auto;
    figure {
      width: 700px;
      img {
        width: 100%;
      }
    }
  }
}
