@import 'mq';
@import "variables";
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: $font-color;
  font-size: 16px;
  min-width: 200px;
  background-color: lighten(lightgray, 50);
}
