@import "../sass/variables";
.header {
  position: relative;
  width: 100%;

  a {
    color: $font-color;
  }

  #contact-us {
    width: 10%;
    position: absolute;
    top: 0;
    right: 2em;
  }

  .header-wide {
    display: none;
  }

  .nav-bar-linear {
    transform: translateY(-30px) translateX(-100px);
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;

    li {
      margin-left: 25px;
    }

    a {
      color: $font-color;
    }

    li:last-of-type {
      margin-right: 15px;
    }
  }

  h1 {
    text-align: center;
    transform: translateY(25px) translateX(-350px);
  }

  .nav-toggler {
    display: none;
  }

  .nav-toggler-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    align-items: center;
  }

  .nav-toggler-label span,
  .nav-toggler-label span::before,
  .nav-toggler-label span::after{
    display: block;
    border: 1px solid black;
    background-color: black;
    height: 2px;
    width: 1.5em;
    border-radius: 3px;
    position: relative;
  }

  .nav-toggler-label span::before,
  .nav-toggler-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggler-label span::before {
    bottom: 7px;
  }

  .nav-toggler-label span::after {
    top: 7px;
  }

  .nav-toggler:checked ~ nav {
    display: block;
  }

  nav {
    width: 100%;
    display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      background-color: black;
      margin-bottom: 5px;
      padding: 25px 0;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}
