<div class="header">
  <h1 class="logo">The Space</h1>
  <img id="contact-us" src="../assets/images/phone.png" alt="phone icon">
  <input type="checkbox" id="nav-toggler" class="nav-toggler">
  <nav>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="mission">Mission</a></li>
      <li><a routerLink="amenities">Amenities</a></li>
      <li><a routerLink="plans">Plans</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="locations">Locations</a></li>
    </ul>
  </nav>
  <label for="nav-toggler" class="nav-toggler-label">
    <span></span>
  </label>
  <div class="header-wide">
    <ul class="nav-bar-linear">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="mission">Mission</a></li>
      <li><a routerLink="amenities">Amenities</a></li>
      <li><a routerLink="plans">Plans</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="locations">Locations</a></li>
    </ul>
  </div>
  <hr>
</div>

<router-outlet></router-outlet>
